p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
  }
  .video-title {
    font-weight: bold;
    font-size: 18px;
    width: 280px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .video-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
  }
  .video-author {
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-bottom: 20px;
  }
  .video-description {
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 280px;
    line-height: 22px;
    margin-bottom: 100px;
  }
  .apple-text {
    margin-bottom: 59px;
    font-size: 20px;
    background-color: rgb(227, 65, 64);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .span-example {
    cursor: pointer;
  }
  .span-example:hover {
    text-decoration: underline;
  }
  .Tahoma {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 12px;
  }
  .deals {
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
  }
  .tuesday {
    color: red;
    font-style: italic;
    font-size: 15px;
    margin-top: 12px;
  }
  .course-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 29px;
    margin-top: 45px;
  }
  .course-tagline {
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    margin-top: 8px;
    margin-bottom: 26px;
  }
  .course-description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    width: 458px;
    margin-bottom: 25px;
  }
  .get-started {
    font-family: Verdana;
    font-size: 26px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 9px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 19px;
    padding-right: 19px;
    margin-bottom: 200px;
    box-shadow: 12px 12px 20px rgb(62, 61, 61);
  }
  .get-started:active {
    margin-left: 12px;
    margin-top: 12px;
    box-shadow: none;
  }